<!DOCTYPE html>
<html>
<head>
    <title>Transfer Funds</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/transfer.js') }}" defer></script>
</head>
<body>
    <div class="container">
        <h1>Transfer Funds</h1>
        <form id="transferForm" onsubmit="transferFunds(event)">
            <input type="number" id="fromAccountID" placeholder="From Account ID" required>
            <input type="number" id="toAccountID" placeholder="To Account ID" required>
            <input type="number" step="100" id="amount" placeholder="Amount" required>
            <button type="submit">Transfer</button>
        </form>
    </div>
</body>
</html>
